.spinner {
  display: inline-block;
  animation: spinner-rotate 0.85s linear infinite;

  &__track {
    opacity: 0.2;
  }

  &__circle {
    animation: spinner-dash 1.2s ease-in-out infinite;
    transform-origin: center;
  }
}

@keyframes spinner-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-dash {
  0% {
    stroke-dasharray: 1, 125.6;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 94.2, 125.6;
    stroke-dashoffset: -31.4;
  }
  100% {
    stroke-dasharray: 1, 125.6;
    stroke-dashoffset: -125.6;
  }
}
